/* src/styles/google.css */
@font-face {
    font-family: 'Circulito';
    src: url('../../../public/circular-std-medium-500.ttf') format('truetype');
}

.mainSearch {
    background-color: #1cc49d;
    margin: 0;
    font-family: Circulito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.highlight {
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
}

.risk-5 {
    background-color: red;
    color: white;
}

.risk-4, .risk-3 {
    background-color: orange;
    color: white;
}

/* Sin color para risk-1, así que no necesita reglas CSS adicionales */


.bn62 {
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
}

.bn62:hover {
    background-color: #163023;
}

.tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    color: #1b2f31;
}

.cuerpoGS {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpoGS h3 {
    color: white;
}

.botonGS {
    padding: 10px;
    margin: 10px;
}

.resultadosGS {
    color: #1b2f31;
    width: 80%;
    height: 50vh; /* Altura fija para el área de resultados */
    overflow-y: auto; /* Desplazamiento vertical */
}

.regresarBTNGS {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.result-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.result-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1b2f31;
}

.result-item h3 {
    margin-top: 0;
}

.result-item a {
    color: #1b2f31;
    text-decoration: none;
    font-weight: bold;
}

.result-item a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}
