/* src/components/styles/site.css */
@font-face {
  font-family: 'Circulito'; /* Nombre de la fuente personalizada */
  src: url('../../../public/circular-std-medium-500.ttf') format('truetype');
}
.main {
  font-family:'Circulito';
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centra verticalmente en la pantalla */
  position: relative; /* Establece la posición relativa para que los seudoelementos se posicionen correctamente */
}

  .main::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../public/hack.jpg'); 
      background-size: cover; 
      background-position: center; 
      filter: blur(3px); 
      z-index: -1; 
  }
.loggoIN {
  padding: 1%;
  color: white;
}

.linkito {
  color: white;
  text-decoration: none;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  color: #ffffff;
  text-shadow: -1px -1px 0 #1b2f31, 1px -1px 0 #1b2f31, -1px 1px 0 #1b2f31, 1px 1px 0 #1b2f31;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.boton{
  padding:10px;
  margin:10px;
}
.bn62 {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}
  

.bn62:hover {
  background-color: #0056b3;
}

